@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Agdasima", sans-serif;
  font-size: 1.2rem;
}

li {
  list-style-type: none;
}

.active {
  color: blueviolet !important;
}
